/* Loading Spinner */
.spinner{
	margin: 0;
	width: 70px;
	height: 18px;
	margin: -35px 0 0 -9px;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center
}
.spinner > div{
	width: 18px;
	height: 18px;
	background-color: #333;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: bouncedelay 1.4s infinite ease-in-out;
	animation: bouncedelay 1.4s infinite ease-in-out;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}
.spinner .bounce1{
	-webkit-animation-delay: -.32s;
	animation-delay: -.32s
}
.spinner .bounce2{
	-webkit-animation-delay: -.16s;
	animation-delay: -.16s
}
@-webkit-keyframes bouncedelay{
	0%,
	80%,
	100% {
		-webkit-transform: scale(0.0)
	}
	40%
	{
		-webkit-transform: scale(1.0)
	}
}
@keyframes bouncedelay{
	0%,
	80%,
	100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0)
	}
	40%
	{
		transform: scale(1.0);
		-webkit-transform: scale(1.0)
	}
}
body,
#page-title>h2, #page-title>p, h1, h2, h3, h4, h5, h6{
	font-family: 'Josefin Slab', serif;
}
body,
#page-title>p{
	font-size: 18px;
}
h1, h2, h3, h4, h5, h6{
	margin-bottom:10px;
}
.text-bold{
	font-weight: 700
}
#header-logo .logo-content-big, .logo-content-small{
	background:none;
	text-indent: inherit;
	text-decoration: none !important;
	color:#FFF;
	font-size: 24px;
}
#page-sidebar {
	border: 1px solid #dfe8f1;
	min-height: 660px;
}
#sidebar-menu>li>a{
	text-decoration: none !important;
	font-size: 14px;
}
.form-control{
	box-shadow: none !Important;
	outline: 0 !important;
}
#page-content .container{
	border-bottom: 1px solid #dfe8f1;
	padding-top:30px;
	padding-bottom:30px;
}
#page-header{
	position: fixed;
	width: 100%;
	z-index: 1000;
}
#page-sidebar{
	position: fixed;
	margin-top: 78px;
}
#page-content-wrapper{
	margin-top:78px;
}