<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
		<title>Angular Demo</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!-- Favicons -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/icons/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/images/icons/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/icons/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="assets/images/icons/apple-touch-icon-57-precomposed.png">
		<link rel="shortcut icon" href="assets/images/icons/favicon.png">
		<link rel="stylesheet" type="text/css" href="assets-minified/admin-all-demo.css">
		<link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="assets-minified/style.css">
		<!-- JS Core -->
		<script type="text/javascript" src="assets-minified/js-core.js"></script>
		<script type="text/javascript">
		$(window).load(function(){
			setTimeout(function(){
				$('#loading').fadeOut(400, "linear");
			}
			, 300);
		});
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	</head>
	<body>
		<div id="sb-site">
			<div id="loading">
				<div class="spinner">
					<div class="bounce1"></div>
					<div class="bounce2"></div>
					<div class="bounce3"></div>
				</div>
			</div>
			<div id="page-wrapper">
				<div id="page-header" class="bg-gradient-9">
					<div id="header-logo" class="logo-bg">
						<a href="" class="logo-content-big" title="MonarchUI">Angular Demo</a>
						<a href="" class="logo-content-small" title="MonarchUI">Angular Demo</a>
					</div>
				</div>
				<div id="page-sidebar">
					<div class="scroll-sidebar">
						<ul id="sidebar-menu">
							<li class="header">
								<span>Overview</span>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#first-demo" title="Admin Dashboard">
									<i class="glyph-icon icon-linecons-tv"></i>
									<span>First Demo</span>
								</a>
							</li>
							
							<li>
								<a href="#second-demo" title="Admin Dashboard">
									<i class="glyph-icon icon-linecons-tv"></i>
									<span>Second Demo</span>
								</a>
							</li>
							
							<li>
								<a href="#third-demo" title="Admin Dashboard">
									<i class="glyph-icon icon-linecons-tv"></i>
									<span>Third Demo</span>
								</a>
							</li>
						</ul>
						<!-- #sidebar-menu -->
					</div>
				</div>
				<div id="page-content-wrapper">
					<div id="page-content">
						<div class="container" id="first-demo" ng-app="demo" ng-controller="demo_ctrl">	
							<div id="page-title">
								<h2>First Demo</h2>
								<p>In this demo you'll learn basic implementation of angular.js</p>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="dashboard-box bg-white content-box">
										<div class="content-wrapper text-left">
											<h2 class="text-center text-bold">{{demo_text_1}}</h2>
											<p>When you'll type into the below box text will be reflect in above heading.</p>
											<p>I've used { {demo_text_1} } model here to show the text. and in the input type field we have attribute "ng-model='demo_text_1'". Global ng-app is "demo" and global ng-controller is "demo_ctrl".</p>
											<br/>
											<pre>
var demo_app = angular.module('demo', []);
demo_app.controller('demo_ctrl', function( $scope ) {
	$scope.demo_text_1 = "Angular Demo 1 Text";
});
											</pre>
											<p>Above script has been used for using the app and controller.</p>
										</div>
										<div class="button-pane">
											<label>Type into this text box</label>
											<input type="text" class="form-control" placeholder="Type your text here" ng-model="demo_text_1"/>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="container" id="second-demo" ng-app="demo1" ng-controller="demo_ctrl1">	
							<div id="page-title">
								<h2>Second Demo</h2>
								<p>In this demo you'll how to use two ng-app into a page. Basically we use single np-app in website but if you wanna use two ng-app then you can use it.</p>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="dashboard-box bg-white content-box">
										<div class="content-wrapper text-left">
											<h2 class="text-center text-bold">{{demo_text_2}}</h2>
											<p>When you'll type into the below box text will be reflect in above heading.</p>
											<p>I've used { {demo_text_2} } model here to show the text. and in the input type field we have attribute "ng-model='demo_text_2'". New ng-app is "demo_1" and new ng-controller is "demo_ctrl_1".</p>
											<br/>
											<pre>
var demo_app_1 = angular.module('demo1', []);
demo_app_1.controller('demo_ctrl1', function( $scope ) {
	$scope.demo_text_2 = "Angular Demo 2 Text";
});
angular.bootstrap(document.getElementById("second-demo"), ['demo1']);
											</pre>
											<p>Above script has been used for using the app and controller.</p>
											<p>For using two ng-app in a page you need to use angular.bootstrap() methods. "angular.bootstrap(document.getElementById("second-demo"), ['demo_1']);" i have used this line to make the code working.</p>
										</div>
										<div class="button-pane">
											<label>Type into this text box</label>
											<input type="text" class="form-control" placeholder="Type your text here" ng-model="demo_text_2"/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- JS Demo -->
			<script type="text/javascript" src="assets-minified/admin-all-demo.js"></script>
			<script src="assets-minified/demo.js"></script>
		</div>
	</body>
</html>